.history {
  padding: 120px 0;
  background-image: url("../../../img/history/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.history__content {
  max-width: 761px;
  width: 100%;
  margin: 0 auto;
}

.history__title {
  text-align: center;
  line-height: 1.25;
  margin-bottom: 50px;
}

.history__btn {
  max-width: 163px;
  margin: 0 auto;
}