body {
  background-color: #F8F8F6;
}
.header {
  border-bottom: 1px solid #DBDCE0;
  background-image: unset;
  padding-bottom: 0;
  background-color: #F8F8F6;
}

.header__nav {
  margin-bottom: 0;
}