.custom-btn {
  padding-top: 13px;
  padding-bottom: 16px;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border-radius: 2px;
  border: 1px solid #B3BAC1;

  transition: all 0.3s ease-in;

  &:hover {
    background-color: var(--text-color);
    border-color: var(--text-color);

    box-shadow: 0 0 11px 0 rgba(18,41,71,0.75);
    -webkit-box-shadow: 0 0 11px 0 rgba(18,41,71,0.75);
    -moz-box-shadow: 0 0 11px 0 rgba(18,41,71,0.75);
  }
  &:hover a {
    color: white;
  }

  &:active {
    background-color: #285083;

    box-shadow: 0 0 11px 0 rgba(18,41,71,0.75);
    -webkit-box-shadow: 0 0 11px 0 rgba(18,41,71,0.75);
    -moz-box-shadow: 0 0 11px 0 rgba(18,41,71,0.75);
  }

  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
  }
}